<div class="accountmenu-container clearfix">
  <p class="appname-text"><a href="/">Sails Social</a></p>
  <a class="btn-signin" href="/auth/login">Sign In</a>
</div>

<div class="container">
  <div class="row"></div>
    <div class="col-md-12">

      <div class="config-text">
        <p>- Facebook auth: <%= twitterAuthMsg %><br>
           - Twitter auth: <%= facebookAuthMsg %></p>
      </div>

      <img class="sails-js-image" src="/images/sails-js.png">

    </div>
  </div>
</div>
